/*fuentes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  max-width: 2000px;
  margin: auto;
  display: flex;
  background-color: #ffffff;
  height: 100px;
  position: sticky;
  top: 0;
  border-radius: 0px 0px 5px 5px;
  z-index: 999;
  box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.544);
}
header .container-header1 {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
}
header .container-header1 .logo {
  width: 50%;
  height: 100px;
  margin: 0px auto;
}
header .container-header1 .logo img {
  width: 200px;
  height: 100px;
  margin: 0px auto;
  margin-left: 15px;
}
header .container-header1 .logos {
  width: 50%;
  height: 100px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}
header .container-header1 .logos li {
  list-style: none;
  margin: 15px;
}
header .container-header1 .logos li a i {
  color: #070707;
}
header .container-header1 .logos li a i:hover {
  color: #585758;
}

@media screen and (max-width: 768px) {
  header .container-header1 {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
  }
  header .container-header1 .logo {
    width: 50%;
    height: 100px;
    margin: 0px auto;
  }
  header .container-header1 .logo img {
    width: 200px;
    height: 100px;
    margin: 0px auto;
    margin-left: 15px;
  }
}
@media screen and (max-width: 400px) {
  header .container-header1 {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
  }
  header .container-header1 .logo {
    width: 50%;
    height: 100px;
    margin: 0px auto;
  }
  header .container-header1 .logo img {
    width: 150px;
    height: 75px;
    margin: 10px auto;
    margin-left: 5px;
  }
}
@media screen and (max-width: 300px) {
  header .container-header1 {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
  }
  header .container-header1 .logo {
    width: 50%;
    height: 100px;
    margin: 0px auto;
  }
  header .container-header1 .logo img {
    width: 120px;
    height: 60px;
    margin: 20px auto;
    margin-left: 5px;
  }
}
/*fuentes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-inicio {
  width: 100%;
  max-width: 2000px;
  margin: auto;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/imagenes/fondo.jpg);
  background-attachment: fixed;
  z-index: 3;
}
.main-inicio .foto-principal {
  width: 100%;
  max-width: 2000px;
  margin: auto;
  padding: 10px 1px 10px 1px;
  background-color: #ffffff;
}
.main-inicio .foto-principal img {
  width: 100%;
  max-width: 2000px;
  margin: auto;
}
.main-inicio .contenedor {
  width: 100%;
  max-width: 2000px;
  margin: auto;
  padding: 15px;
  margin-top: 0px;
  z-index: 1;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}
.main-inicio .contenedor .row {
  width: 100%;
  margin: 50px auto;
  max-width: 2000px;
}
.main-inicio .contenedor .row item img {
  width: 280px;
}
.main-inicio .contenedor .row item h4 {
  font-weight: bold;
  color: #141114;
  font-size: 15px;
  text-align: center;
}
.main-inicio .contenedor .row .texto {
  height: 100px;
  text-align: center;
  font-weight: bold;
  background-color: #ffffff;
}
.main-inicio .contenedor .row .indicadores-div {
  height: 20px;
  top: 300px;
}
.main-inicio .contenedor .row .indicadores-div .indicadores {
  background-color: #070707;
}
.main-inicio .contenedor-nosotras {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 15px;
  width: 100%;
  margin: 0px auto;
  background-color: #ffffff;
}
.main-inicio .contenedor-nosotras .licenciada {
  background-color: #ffffff;
  width: 40%;
  max-width: 600px;
  padding: 15px;
  margin: 15px;
  margin-top: 150px;
  margin-bottom: 100px;
  text-align: center;
  color: #090808;
  border-radius: 50px 10px 50px 10px;
  box-shadow: -1px 9px 35px 6px rgba(0, 0, 0, 0.75);
  z-index: 1;
}
.main-inicio .contenedor-nosotras .licenciada .foto {
  background-color: #ffffff;
  width: 60%;
  height: 250px;
  margin: -120px auto;
  padding: 15px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-inicio .contenedor-nosotras .licenciada .foto img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.main-inicio .contenedor-nosotras .licenciada .textos {
  margin-top: 120px;
}
.main-inicio .contenedor-nosotras .licenciada .textos h2 {
  font-weight: bold;
}
.main-inicio .contenedor-data {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  z-index: 1;
  border-radius: 5px;
  flex-direction: row;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  padding: 15px;
  z-index: 4;
}
.main-inicio .contenedor-data .wave2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 5px;
}
.main-inicio .contenedor-data .wave2 .ubicacion {
  z-index: 3;
  width: 100%;
  color: #ffffff;
  margin: 5px auto;
  padding: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.main-inicio .contenedor-data .wave2 .ubicacion .direccion,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos {
  width: 50%;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-inicio .contenedor-data .wave2 .ubicacion .direccion h4,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos h4 {
  width: 100%;
  height: 50px;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main-inicio .contenedor-data .wave2 .ubicacion .direccion h2,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos h2 {
  width: 100%;
  font-size: 25px;
  text-align: center;
}
.main-inicio .contenedor-data .wave2 .ubicacion .direccion h2 i,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos h2 i {
  color: aliceblue;
  margin: 5px;
}
.main-inicio .contenedor-data .wave2 .mapa {
  z-index: 1;
  width: 100%;
  margin: 5px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.main-inicio .contenedor-data .wave2 .mapa button {
  width: 20%;
  height: 50px;
  background-color: #070707;
  border: hidden;
  border-radius: 100px;
}
.main-inicio .contenedor-data .wave2 .mapa button a {
  color: #ffffff;
  text-decoration: none;
}
.main-inicio .contenedor-data .wave2 .mapa button:hover {
  background-color: #585758;
}
.main-inicio .contenedor-formulario {
  z-index: 1;
  width: 100%;
  margin: 0px auto;
  padding: 25px;
  display: flex;
  flex-direction: row;
  background-color: #ffffffce;
}
.main-inicio .contenedor-formulario .form {
  z-index: 1;
  width: 50%;
  max-width: 800px;
  border-radius: 5px;
  padding: 15px;
  color: #141114;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  background-color: whitesmoke;
  font-family: sans-serif;
  text-transform: uppercase;
  box-shadow: 2px 5px 10px 5px #747575;
}
.main-inicio .contenedor-formulario .form form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-inicio .contenedor-formulario .form form .inputs-texts {
  margin: 20px 0px;
  width: 50%;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.main-inicio .contenedor-formulario .form form .inputs-texts input {
  width: 90%;
  height: 30px;
  border: hidden;
}
.main-inicio .contenedor-formulario .form form .inputs-texts input::placeholder {
  font-weight: bold;
}
.main-inicio .contenedor-formulario .form form .inputs-select-radio {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  width: 50%;
  font-size: 15px;
  font-weight: bold;
}
.main-inicio .contenedor-formulario .form form .inputs-select-radio select {
  width: 100%;
  height: 30px;
  cursor: pointer;
  border: hidden;
  font-weight: bold;
  color: #585758;
}
.main-inicio .contenedor-formulario .form form .comentario {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100%;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.main-inicio .contenedor-formulario .form form .comentario textarea {
  height: 200px;
  width: 100%;
  border: hidden;
}
.main-inicio .contenedor-formulario .form form .comentario textarea::placeholder {
  font-weight: bold;
}
.main-inicio .contenedor-formulario .form form .button {
  margin: 5px auto;
  display: flex;
  width: 100%;
}
.main-inicio .contenedor-formulario .form form .button button {
  background-color: #018bb9;
  border: 2px solid #018bb9;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  padding: 5px;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  width: 50%;
}
.main-inicio .contenedor-formulario .form form .button button:hover {
  background-color: #004e92;
  border: 2px solid #004e92;
  cursor: pointer;
  color: #ffffff;
}
.main-inicio .contenedor-formulario .info-formulario {
  width: 50%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.main-inicio .contenedor-formulario .info-formulario h2 {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-inicio .contenedor-formulario .info-formulario h2 span {
  width: 100%;
}
.main-inicio .contenedor-formulario .info-formulario .linea-span {
  width: 60%;
}
.main-inicio .contenedor-formulario .info-formulario .linea-span span {
  width: 100px;
  height: 4px;
  margin: 0px;
  display: flex;
  justify-content: left;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}

@media screen and (max-width: 1024px) {
  .main-inicio .contenedor-nosotras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    width: 100%;
    margin: 0px auto;
  }
  .main-inicio .contenedor-nosotras .licenciada {
    width: 60%;
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .main-inicio .contenedor-nosotras .licenciada .foto {
    width: 60%;
  }
  .main-inicio .contenedor-data {
    background-size: cover;
    padding: 15px;
  }
  .main-inicio .contenedor-data .wave2 {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .main-inicio {
    width: 100%;
  }
  .main-inicio .contenedor {
    height: 450px;
  }
  .main-inicio .contenedor-nosotras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    width: 100%;
    margin: 0px auto;
  }
  .main-inicio .contenedor-nosotras .licenciada {
    width: 80%;
    max-width: 500px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .main-inicio .contenedor-nosotras .licenciada .foto {
    width: 70%;
    max-width: 250px;
    margin: -100px auto;
    padding: 15px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-inicio .contenedor-nosotras .licenciada .foto img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  .main-inicio .contenedor-nosotras .licenciada .textos {
    width: 100%;
  }
  .main-inicio .contenedor-formulario {
    width: 100%;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .main-inicio .contenedor-formulario .form {
    width: 100%;
    margin-top: 25px;
    border-radius: 5px;
    padding: 15px;
  }
  .main-inicio .contenedor-formulario .form form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .main-inicio .contenedor-formulario .form form .button {
    margin: 5px auto;
    display: flex;
    width: 100%;
  }
  .main-inicio .contenedor-formulario .form form .button button {
    background-color: #018bb9;
    border: 2px solid #018bb9;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    width: 50%;
  }
  .main-inicio .contenedor-formulario .info-formulario {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-inicio .contenedor-formulario .info-formulario h2 {
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    text-align: left;
  }
  .main-inicio .contenedor-formulario .info-formulario h2 span {
    width: 100%;
  }
  .main-inicio .contenedor-formulario .info-formulario .linea-span {
    width: 80%;
  }
}
@media screen and (max-width: 599px) {
  .main-inicio .contenedor {
    height: 600px;
  }
  .main-inicio .contenedor-data {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 5px;
    flex-direction: row;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    padding: 15px;
    z-index: 4;
  }
  .main-inicio .contenedor-data .wave2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    margin: auto;
    justify-content: center;
  }
  .main-inicio .contenedor-data .wave2 .ubicacion {
    z-index: 3;
    width: 100%;
    color: #ffffff;
    margin: auto;
    padding: 15px;
    font-weight: bold;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .main-inicio .contenedor-data .wave2 .ubicacion .direccion,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos {
    width: 100%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-inicio .contenedor-data .wave2 .ubicacion .direccion h4,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos h4 {
    width: 100%;
    height: 50px;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .main-inicio .contenedor-data .wave2 .ubicacion .direccion h2,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos h2 {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
  .main-inicio .contenedor-data .wave2 .ubicacion .direccion h2 i,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos h2 i {
    color: aliceblue;
    margin: 5px;
  }
  .main-inicio .contenedor-data .wave2 .mapa {
    z-index: 1;
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: center;
  }
  .main-inicio .contenedor-data .wave2 .mapa button {
    width: 50%;
    height: 50px;
    background-color: #070707;
    border: hidden;
    border-radius: 100px;
  }
  .main-inicio .contenedor-data .wave2 .mapa button a {
    color: #ffffff;
    text-decoration: none;
  }
  .main-inicio .contenedor-data .wave2 .mapa button:hover {
    background-color: #585758;
  }
}
@media screen and (max-width: 500px) {
  .main-inicio .contenedor {
    width: 100%;
    max-width: 2000px;
    height: 550px;
    margin: auto;
    padding: 15px;
    margin-top: 0px;
  }
  .main-inicio .contenedor-nosotras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    width: 100%;
    margin: 0px auto;
  }
  .main-inicio .contenedor-nosotras .licenciada {
    width: 100%;
    max-width: 500px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .main-inicio .contenedor-nosotras .licenciada .foto {
    width: 50%;
    max-width: 300px;
    height: 200px;
    margin: -100px auto;
    padding: 15px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-inicio .contenedor-nosotras .licenciada .foto img {
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 300px;
    border-radius: 100%;
  }
  .main-inicio .contenedor-nosotras .licenciada .textos {
    margin-top: 95px;
  }
  .main-inicio .contenedor-formulario {
    width: 100%;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .main-inicio .contenedor-formulario .form {
    width: 100%;
    margin-top: 25px;
    border-radius: 5px;
    padding: 15px;
  }
  .main-inicio .contenedor-formulario .form form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .main-inicio .contenedor-formulario .form form .inputs-texts {
    margin: 20px 0px;
    width: 100%;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
  }
  .main-inicio .contenedor-formulario .form form .inputs-texts input {
    width: 100%;
    height: 30px;
    border: hidden;
  }
  .main-inicio .contenedor-formulario .form form .inputs-select-radio {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
  }
  .main-inicio .contenedor-formulario .form form .inputs-select-radio select {
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: hidden;
    font-weight: bold;
    color: #585758;
  }
  .main-inicio .contenedor-formulario .form form .button {
    margin: 5px auto;
    display: flex;
    width: 100%;
  }
  .main-inicio .contenedor-formulario .form form .button button {
    background-color: #018bb9;
    border: 2px solid #018bb9;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    width: 60%;
  }
  .main-inicio .contenedor-formulario .info-formulario {
    width: 100%;
  }
  .main-inicio .contenedor-formulario .info-formulario h2 {
    width: 100%;
  }
  .main-inicio .contenedor-formulario .info-formulario .linea-span {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .main-inicio .contenedor {
    height: 450px;
  }
  .main-inicio .contenedor-nosotras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    width: 100%;
    margin: 0px auto;
  }
  .main-inicio .contenedor-nosotras .licenciada {
    width: 90%;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 5px;
  }
  .main-inicio .contenedor-nosotras .licenciada .foto {
    width: 80%;
    height: 70%;
    margin: -80px auto;
    padding: 15px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-inicio .contenedor-nosotras .licenciada .foto img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  .main-inicio .contenedor-nosotras .licenciada .textos {
    margin-top: 100px;
    width: 100%;
  }
  .main-inicio .contenedor-nosotras .licenciada .textos h2 {
    font-size: 18px;
    font-weight: bold;
  }
  .main-inicio .contenedor-nosotras .licenciada .textos p {
    font-size: 15px;
  }
  .main-inicio .contenedor-data {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 5px;
    flex-direction: row;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    padding: 15px;
    z-index: 4;
  }
  .main-inicio .contenedor-data .wave2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    margin: auto;
    justify-content: center;
  }
  .main-inicio .contenedor-data .wave2 .ubicacion {
    z-index: 3;
    width: 100%;
    color: #ffffff;
    margin: auto;
    padding: 15px;
    font-weight: bold;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .main-inicio .contenedor-data .wave2 .ubicacion .direccion,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos {
    width: 100%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-inicio .contenedor-data .wave2 .ubicacion .direccion h4,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos h4 {
    width: 100%;
    height: 50px;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .main-inicio .contenedor-data .wave2 .ubicacion .direccion h2,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos h2 {
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
  .main-inicio .contenedor-data .wave2 .ubicacion .direccion h2 i,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos h2 i {
    color: aliceblue;
    margin: 5px;
  }
  .main-inicio .contenedor-data .wave2 .mapa {
    z-index: 1;
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: center;
  }
  .main-inicio .contenedor-data .wave2 .mapa button {
    width: 50%;
    height: 50px;
    background-color: #070707;
    border: hidden;
    border-radius: 100px;
  }
  .main-inicio .contenedor-data .wave2 .mapa button a {
    color: #ffffff;
    text-decoration: none;
  }
  .main-inicio .contenedor-data .wave2 .mapa button:hover {
    background-color: #585758;
  }
  .main-inicio .contenedor-formulario {
    width: 100%;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .main-inicio .contenedor-formulario .form {
    margin-top: 25px;
    border-radius: 5px;
    padding: 5px;
  }
  .main-inicio .contenedor-formulario .form form {
    width: 100%;
  }
  .main-inicio .contenedor-formulario .form form .inputs-texts {
    width: 100%;
  }
  .main-inicio .contenedor-formulario .form form .inputs-texts input {
    width: 100%;
  }
}
/*fuentes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-whatsapp {
  position: fixed;
  bottom: 50px;
  right: 20px;
  cursor: pointer;
  z-index: 3;
}
.contenedor-whatsapp img {
  width: 50px;
  height: 50px;
  position: relative;
}
.contenedor-whatsapp a {
  cursor: pointer;
}
.contenedor-whatsapp .texto-whatsapp {
  background-color: #45c014;
  margin-top: -38px;
  right: 50px;
  width: 120px;
  position: absolute;
  transition: 500ms all ease;
  opacity: 0;
  text-align: center;
  color: #ffffff;
  visibility: hidden;
  background-color: #45c014;
  border-radius: 100px;
  cursor: pointer;
}

.contenedor-whatsapp:hover > .texto-whatsapp {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  z-index: 3;
}

@media screen and (max-width: 500px) {
  .contenedor-whatsapp img {
    width: 35px;
    height: 35px;
    z-index: 3;
  }
  .contenedor-whatsapp .texto-whatsapp {
    margin-top: -29px;
    margin-left: 35px;
    width: 80px;
  }
  .contenedor-whatsapp .texto-whatsapp h5 {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  max-width: 2000px;
  height: 100%;
  margin: auto;
  margin-top: 0px;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  padding: 5px;
}
footer h5 {
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}
footer .redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .redes li {
  list-style: none;
  margin: 5px;
  color: #ffffff;
}
footer .redes li a {
  text-decoration: none;
  color: #ffffff;
}
footer .redes li a i {
  color: #ffffff;
}
footer .info-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
footer .info-footer h6 {
  text-decoration: overline;
}
footer .info-footer span i {
  color: #ffffff;
}
footer .copyright {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  footer h5 {
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  footer h5 {
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
  }

  .redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .redes li {
    list-style: none;
    margin: 5px;
    color: #ffffff;
    font-size: 10px;
  }
  .redes li i {
    color: #ffffff;
    font-size: 18px;
  }

  .info-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
  }
  .info-footer h6 {
    text-decoration: overline;
    font-size: 15px;
  }
  .info-footer span i {
    color: #ffffff;
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  footer h5 {
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
