@charset "UTF-8";
/*colores secundarios*/
/*fuentes*/
/*tamaño de fuentes*/
/*padding*/
/*width*/
/*max-width*/
/*margin*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  max-width: 2000px;
  margin: auto;
  display: flex;
  background-color: #ffffff;
  height: 100px;
  position: sticky;
  top: 0;
  border-radius: 0px 0px 5px 5px;
  z-index: 999;
  box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.544);
}
header .container-header1 {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
}
header .container-header1 .logo {
  width: 50%;
  height: 100px;
  margin: 0px auto;
}
header .container-header1 .logo img {
  width: 200px;
  height: 100px;
  margin: 0px auto;
  margin-left: 15px;
}
header .container-header1 .logos {
  width: 50%;
  height: 100px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}
header .container-header1 .logos li {
  list-style: none;
  margin: 15px;
}
header .container-header1 .logos li a i {
  color: #0c0c0c;
}
header .container-header1 .logos li a i:hover {
  color: #464444;
}

@media screen and (max-width: 768px) {
  header .container-header1 {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
  }
  header .container-header1 .logo {
    width: 50%;
    height: 100px;
    margin: 0px auto;
  }
  header .container-header1 .logo img {
    width: 200px;
    height: 100px;
    margin: 0px auto;
    margin-left: 15px;
  }
}
@media screen and (max-width: 400px) {
  header .container-header1 {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
  }
  header .container-header1 .logo {
    width: 50%;
    height: 100px;
    margin: 0px auto;
  }
  header .container-header1 .logo img {
    width: 150px;
    height: 75px;
    margin: 10px auto;
    margin-left: 5px;
  }
}
@media screen and (max-width: 300px) {
  header .container-header1 {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
  }
  header .container-header1 .logo {
    width: 50%;
    height: 100px;
    margin: 0px auto;
  }
  header .container-header1 .logo img {
    width: 120px;
    height: 60px;
    margin: 20px auto;
    margin-left: 5px;
  }
}
.main-inicio {
  width: 100%;
  max-width: 2000px;
  margin: auto;
  margin-top: 80px;
  background-color: none;
}
.main-inicio .contenedor {
  width: 100%;
  max-width: 2000px;
  margin: auto;
  padding: 15px;
  margin-top: 50px;
  z-index: 1;
}
.main-inicio .contenedor .bg-color {
  width: 100%;
  max-width: 2000px;
  margin: 0px auto;
  height: 500px;
  max-height: 1000px;
  left: 0;
  right: 0;
  position: absolute;
  background-image: url(../img/imagenes/wave-4.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  z-index: 1;
}
.main-inicio .contenedor .row {
  background-color: #fcf8f8;
}
.main-inicio .contenedor .row item img {
  width: 280px;
}
.main-inicio .contenedor .row item h4 {
  font-weight: bold;
  color: #141114;
  font-size: 15px;
  text-align: center;
}
.main-inicio .contenedor .row .texto {
  height: 100px;
  text-align: center;
  font-weight: bold;
}
.main-inicio .contenedor .row .indicadores-div {
  height: 20px;
  top: 300px;
}
.main-inicio .contenedor .row .indicadores-div .indicadores {
  background-color: black;
}
.main-inicio .contenedor-nosotras {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 15px;
  width: 100%;
  margin: 100px auto;
  background-color: #ffffff;
  z-index: 10;
}
.main-inicio .contenedor-nosotras .licenciada {
  width: 50%;
  padding: 15px;
  margin: 15px;
  text-align: center;
  color: #090808;
  border-radius: 5px;
}
.main-inicio .contenedor-nosotras .licenciada .foto {
  width: 100%;
  height: 300px;
  margin: auto;
  padding: 15px;
}
.main-inicio .contenedor-nosotras .licenciada .foto img {
  width: 200px;
  height: 220px;
  z-index: 2;
  border-radius: 100px;
}
.main-inicio .contenedor-data {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  background-color: #fffdff;
  border-radius: 5px;
  background-image: url(../img/imagenes/wave-9.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 15px;
}
.main-inicio .contenedor-data .wave2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.main-inicio .contenedor-data .wave2 .ubicacion {
  z-index: 3;
  width: 50%;
  color: #313131;
  margin: 5px;
  height: 300px;
  padding: 15px;
}
.main-inicio .contenedor-data .wave2 .ubicacion .direccion h4,
.main-inicio .contenedor-data .wave2 .ubicacion .horario h4,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos h4 {
  font-size: 15px;
  margin-top: 10px;
}
.main-inicio .contenedor-data .wave2 .ubicacion .direccion h2,
.main-inicio .contenedor-data .wave2 .ubicacion .horario h2,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos h2 {
  font-size: 25px;
}
.main-inicio .contenedor-data .wave2 .mapa {
  z-index: 3;
  width: 50%;
  margin: 5px;
  height: 300px;
}
.main-inicio .contenedor-data .wave2 .mapa iframe {
  width: 100%;
  max-width: 700px;
  height: 300px;
}
.main-inicio .contenedor-formulario {
  z-index: 3;
  width: 100%;
  margin: auto;
  padding: 25px;
  display: flex;
  flex-direction: row;
  background-color: none;
}
.main-inicio .contenedor-formulario .form {
  z-index: 3;
  width: 50%;
  max-width: 500px;
  border-radius: 5px;
  padding: 15px;
  color: #141114;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  background-color: #f5f5f5;
  font-family: sans-serif;
  text-transform: uppercase;
  box-shadow: 2px 5px 10px 5px #747575;
}
.main-inicio .contenedor-formulario .form .inputs-texts {
  margin: 20px 0px;
  width: 100%;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.main-inicio .contenedor-formulario .form .inputs-texts input {
  width: 100%;
  height: 30px;
  border: hidden;
}
.main-inicio .contenedor-formulario .form .inputs-texts input::placeholder {
  font-weight: bold;
}
.main-inicio .contenedor-formulario .form .inputs-select-radio {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
}
.main-inicio .contenedor-formulario .form .inputs-select-radio select {
  height: 30px;
  cursor: pointer;
  border: hidden;
  font-weight: bold;
  color: #585758;
}
.main-inicio .contenedor-formulario .form .comentario {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100%;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.main-inicio .contenedor-formulario .form .comentario textarea {
  height: 200px;
  width: 100%;
  border: hidden;
}
.main-inicio .contenedor-formulario .form .comentario textarea::placeholder {
  font-weight: bold;
}
.main-inicio .contenedor-formulario .form .button {
  margin: 5px auto;
  display: flex;
  width: 100%;
}
.main-inicio .contenedor-formulario .form .button button {
  background-color: #004e92;
  border: 2px solid #004e92;
  text-align: center;
  font-size: 20px;
  color: #d5d5d8;
  padding: 5px;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  width: 50%;
}
.main-inicio .contenedor-formulario .form .button button:hover {
  background-color: #018bb9;
  border: 2px solid #018bb9;
  cursor: pointer;
  color: #d5d5d8;
}
.main-inicio .contenedor-formulario .info-formulario {
  width: 90%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/imagenes/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.main-inicio .contenedor-formulario .info-formulario h2 {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-inicio .contenedor-formulario .info-formulario .linea-span {
  width: 60%;
}
.main-inicio .contenedor-formulario .info-formulario .linea-span span {
  width: 100px;
  height: 4px;
  margin: 0px;
  display: flex;
  justify-content: left;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}

@media screen and (max-width: 1024px) {
  .main-inicio .contenedor-nosotras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    width: 100%;
    margin: 100px auto;
    z-index: 3;
  }
  .main-inicio .contenedor-data {
    background-size: cover;
    padding: 15px;
  }
  .main-inicio .contenedor-data .wave2 {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .main-inicio {
    width: 100%;
  }
  .main-inicio .contenedor-nosotras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    width: 100%;
    margin: 100px auto;
  }
  .main-inicio .contenedor-nosotras .licenciada {
    width: 100%;
    padding: 5px;
    margin: 15px;
    text-align: center;
    color: #090808;
    border-radius: 5px;
  }
  .main-inicio .contenedor-nosotras .licenciada .foto {
    width: 100%;
    height: 250px;
    margin: auto;
    padding: 15px;
  }
  .main-inicio .contenedor-nosotras .licenciada .foto img {
    width: 200px;
    height: 220px;
    z-index: 2;
    border-radius: 100px;
  }
  .main-inicio .contenedor-nosotras .licenciada .textos {
    width: 100%;
  }
  .main-inicio .contenedor-data {
    background-size: cover;
    padding: 15px;
  }
  .main-inicio .contenedor-data .wave2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .main-inicio .contenedor-data .wave2 .ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin: 5px auto;
    height: 300px;
  }
  .main-inicio .contenedor-data .wave2 .ubicacion .direccion h4,
.main-inicio .contenedor-data .wave2 .ubicacion .horario h4,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos h4 {
    margin-top: 15px;
    font-size: 15px;
  }
  .main-inicio .contenedor-data .wave2 .ubicacion .direccion h2,
.main-inicio .contenedor-data .wave2 .ubicacion .horario h2,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos h2 {
    font-size: 25px;
    margin-top: 15px;
  }
  .main-inicio .contenedor-data .wave2 .mapa {
    width: 80%;
    margin: 35px auto;
    height: 300px;
  }
  .main-inicio .contenedor-formulario {
    width: 100%;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .main-inicio .contenedor-formulario .form {
    width: 60%;
    margin-top: 25px;
    border-radius: 5px;
    padding: 15px;
    color: #141114;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    font-family: sans-serif;
    text-transform: uppercase;
    box-shadow: 2px 5px 10px 5px #747575;
  }
  .main-inicio .contenedor-formulario .info-formulario {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .main-inicio .contenedor .bg-color {
    width: 100%;
    max-width: 2000px;
    margin: 0px auto;
    height: 50%;
    left: 0;
    right: 0;
    position: absolute;
    background-image: url(../img/imagenes/wave-4.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  .main-inicio .contenedor-nosotras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    width: 100%;
    margin: 150px auto;
  }
  .main-inicio .contenedor-data .wave2 .ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin: 150px auto;
    height: 100px;
  }
  .main-inicio .contenedor-data .wave2 .ubicacion .direccion h4,
.main-inicio .contenedor-data .wave2 .ubicacion .horario h4,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos h4 {
    margin-top: 15px;
    font-size: 15px;
  }
  .main-inicio .contenedor-data .wave2 .ubicacion .direccion h2,
.main-inicio .contenedor-data .wave2 .ubicacion .horario h2,
.main-inicio .contenedor-data .wave2 .ubicacion .colectivos h2 {
    font-size: 25px;
    margin-top: 15px;
  }
  .main-inicio .contenedor-data .wave2 .mapa {
    width: 100%;
    margin: 35px auto;
    height: 300px;
  }
  .main-inicio .contenedor-data .wave2 .mapa iframe {
    width: 100%;
    height: 300px;
  }
  .main-inicio .contenedor-formulario {
    width: 100%;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .main-inicio .contenedor-formulario .form {
    width: 100%;
    margin-top: 25px;
    border-radius: 5px;
    padding: 15px;
    color: #141114;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    font-family: sans-serif;
    text-transform: uppercase;
    box-shadow: 2px 5px 10px 5px #747575;
  }
  .main-inicio .contenedor-formulario .info-formulario {
    width: 100%;
  }
  .main-inicio .contenedor-formulario .info-formulario h2 {
    width: 100%;
  }
  .main-inicio .contenedor-formulario .info-formulario .linea-span {
    width: 100%;
  }
}
@media screen and (max-width: 300px) {
  .main-inicio .contenedor-formulario {
    width: 100%;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .main-inicio .contenedor-formulario .form {
    width: 100%;
    max-width: 1100px;
    margin-top: 25px;
    border-radius: 5px;
    padding: 5px;
    color: #141114;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    font-family: sans-serif;
    text-transform: uppercase;
    box-shadow: 2px 5px 10px 5px #747575;
  }
  .main-inicio .contenedor-formulario .form form {
    width: 100%;
  }
  .main-inicio .contenedor-formulario .form form .inputs-texts {
    width: 100%;
  }
  .main-inicio .contenedor-formulario .form form .inputs-texts input {
    width: 100%;
  }
}
/*colores secundarios*/
/*fuentes*/
/*tamaño de fuentes*/
/*padding*/
/*width*/
/*max-width*/
/*margin*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 3;
}
.contenedor-whatsapp img {
  width: 50px;
  height: 50px;
  position: relative;
}
.contenedor-whatsapp a {
  cursor: pointer;
}
.contenedor-whatsapp .texto-whatsapp {
  background-color: rgba(0, 0, 0, 0.637);
  margin-top: -38px;
  right: 50px;
  width: 120px;
  position: absolute;
  transition: 500ms all ease;
  opacity: 0;
  text-align: center;
  color: #fff;
  visibility: hidden;
  background-color: #45c014;
  border-radius: 100px;
  cursor: pointer;
}

.contenedor-whatsapp:hover > .texto-whatsapp {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  z-index: 3;
}

@media screen and (max-width: 500px) {
  .contenedor-whatsapp img {
    width: 35px;
    height: 35px;
    z-index: 3;
  }
  .contenedor-whatsapp .texto-whatsapp {
    margin-top: -29px;
    margin-left: 35px;
    width: 80px;
  }
  .contenedor-whatsapp .texto-whatsapp h5 {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  max-width: 2000px;
  height: 100%;
  margin: auto;
  margin-top: 50px;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  padding: 5px;
}
footer h5 {
  margin-top: 10px;
  text-align: center;
  color: #fcfcfc;
  font-size: 30px;
}
footer .redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .redes li {
  list-style: none;
  margin: 5px;
  color: #fcfcfc;
}
footer .redes li i {
  color: #fcfcfc;
}
footer .info-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fcfcfc;
}
footer .info-footer h6 {
  text-decoration: overline;
}
footer .info-footer span i {
  color: #e6e6eb;
}

@media screen and (max-width: 768px) {
  footer h5 {
    margin-top: 10px;
    text-align: center;
    color: #fcfcfc;
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  footer h5 {
    margin-top: 10px;
    text-align: center;
    color: #fcfcfc;
    font-size: 15px;
  }

  .redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .redes li {
    list-style: none;
    margin: 5px;
    color: #fcfcfc;
    font-size: 10px;
  }
  .redes li i {
    color: #fcfcfc;
    font-size: 18px;
  }

  .info-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fcfcfc;
  }
  .info-footer h6 {
    text-decoration: overline;
    font-size: 15px;
  }
  .info-footer span i {
    color: #e6e6eb;
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  footer h5 {
    margin-top: 10px;
    text-align: center;
    color: #fcfcfc;
    font-size: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  z-index: 1;
  background-image: url(../img/imagenes/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
