@import "./mixins";


* {
    @include format-document;
}

footer {
    width: 100%;
    max-width: 2000px;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    h5{
        margin-top: 50px;
        text-align: center;
        color: #fcfcfc;
    }

}