$primary-color:#ffffff;
$primary-color-1:#141114;
$primary-color-2:#070707;
$primary-color-3:#747575;
$primary-color-4:#018bb9;
$primary-color-5:#004e92;
$primary-color-6:#d5d5d8;
$primary-color-7:#ffffffce;
$primary-color-8:#585758;
$primary-color-9:#45c014;
;

/*fuentes*/
$font-primary:sans-serif;
$font-primary-1:'Lucida Sans',
'Lucida Sans Regular',
'Lucida Grande',
'Lucida Sans Unicode',
Geneva,
Verdana,
sans-serif;
$font-primary-2:'Bebas Neue',
cursive;